[submodule "List-of-Dirty-Naughty-Obscene-and-Otherwise-Bad-Words"]
	path = List-of-Dirty-Naughty-Obscene-and-Otherwise-Bad-Words
	url = https://github.com/shuttlecraft/List-of-Dirty-Naughty-Obscene-and-Otherwise-Bad-Words
[submodule "The-Big-Username-Blacklist"]
	path = The-Big-Username-Blacklist
	url = https://github.com/shuttlecraft/The-Big-Username-Blacklist
